<form action="/awt#results" method="POST">
  <fieldset id="ABIF_submission_area">
    <legend>ABIF submission area</legend>
    <textarea id="abifinput" name="abifinput" rows="{{ rows }}" cols="{{ cols }}" placeholder="{{ msgs.placeholder }}">{{ abifinput }}</textarea><br>
    <input type="checkbox" name="include_dotsvg" value="yes" checked>pairwise dot diagram?&nbsp;
    <input type="checkbox" name="include_pairtable" value="yes" checked>pairwise table?&nbsp;
    <input type="checkbox" name="include_STAR" value="yes" checked>STAR results?&nbsp;
    <input type="submit" value="Submit">
  </fieldset>
</form>
