<!DOCTYPE html>
{% set debug_flag = webenv.debugFlag %}
{% set statstr = webenv.statusStr %}
{% set my_url = webenv.req_url %}
<html>
  <head>
      <meta charset="UTF-8">
      <title>{{msgs.pagetitle}}</title>
      <link rel="stylesheet"
            type="text/css"
            href="{{ url_for('static', filename='css/electostyle.css') }}">
      <link rel="shortcut icon"
            href="{{ url_for('static', filename='img/awtonly.svg') }}">
      <script src="{{ url_for('static', filename='js/abifwebtool.js') }}" defer></script>
  </head>
  <body>
    <header>
      <a href="/">
        <img src="/static/img/awt-electorama.svg" alt="awt logo">
      </a>
    </header>
    <div id="content">
      <h1>{{msgs.pagetitle}}</h1>
      {% if webenv.debugFlag %}
      <small><i>{{webenv.req_url}} {{webenv.hostname}}</i></small>
      {% endif %}
      {% if webenv.debugFlag %}
      (see <a href="#debug">debug output below</a>)<br>
      {% endif %}
      {% block content %}
      REPLACEME base.html
      {% endblock content %}
      {% if webenv.debugFlag %}
      <h2 id="debug">Debug output</h2>
      <div><pre>{{ debug_output }}</pre></div>
      {% endif %}
      <hr>
      {% include 'footer.snippet.html' %}
    </div>
  </body>
</html>
