<!DOCTYPE html>
{% set is_dev = my_webhost.is_dev %}
{% set statstr = my_webhost.statusstr %}
{% set my_url = my_webhost.my_url %}
<html>
  <head>
      <meta charset="UTF-8">
      <title>{{msgs.pagetitle}}</title>
      <link rel="stylesheet"
            type="text/css"
            href="{{ url_for('static', filename='css/electostyle.css') }}">
      <link rel="shortcut icon"
            href="{{ url_for('static', filename='favicon.ico') }}">
      <script src="{{ url_for('static', filename='js/abifwebtool.js') }}" defer></script>
  </head>
  <body>
    <header>
      <a href="/">
        <img src="https://electorama.com/img/electodrop.svg" alt="Electorama Logo">
      </a>
    </header>
    <div id="content">
      <h1>{{msgs.pagetitle}}</h1>
      {% if my_webhost.is_dev %}
      <small><i>{{my_url}} {{my_webhost}}</i></small>
      {% endif %}
      {% if debug_flag %}
      (see <a href="#debug">debug output below</a>)<br>
      {% endif %}
      {% block content %}
      REPLACEME base.html
      {% endblock content %}
      {% if debug_flag %}
      <h2 id="debug">Debug output</h2>
      <div><pre>{{ debug_output }}</pre></div>
      {% endif %}
      <hr>
      {% include 'footer.snippet.html' %}
    </div>
  </body>
</html>
