<style>
.footer {
  display: flex;
  align-items: center;
}

.footer-text {
    flex-grow: 1;
    margin-left: 2em;
    margin-right: 2em;
}
</style>
<p>
  <div class="footer">
    <div>
      <a href="https://abif.electorama.com">
        <img height="50px" src="/static/img/awtonly.svg" alt="awt logo">
      </a>
    </div>
    <div class="footer-text">
      <em><a href="https://abif.electorama.com">abif.electorama.com</a>
        is maintained as part of
        the <a href="https://electorama.com">electorama.com</a> family of websites.
      </em>
      <br>
      <em>Copyright © 2024 by <a href="https://robla.net/">Rob Lanphier</a> &mdash;
        All Rights Reserved.</em>
    </div>
    <div>
      <a href="https://electorama.com">
        <img height="50px" src="/static/img/electodrop.svg" alt="awt logo">
      </a>
    </div>
  </div>
</p>
