<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>formtitle: {{ formtitle }}</title>
</head>
<body>
  <h1>formtitle: {{ formtitle }}</h1>
  <p>abiftool_output: {{ abiftool_output }}</p>
  <p>abifinput: {{ abifinput }}</p>
  <form action="/" method="POST">
    <textarea name="abifinput" rows="10" cols="50" placeholder="Enter your text here"></textarea>
    <input type="submit" value="Submit">
  </form>
  <p>abif_to_display:<br/>
    <pre>{{ abif_to_display }}</pre>
  </p>
</body>
</html>
