<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{ formtitle }}</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/electostyle.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
  <header>
    <a href="https://electorama.com">
      <img src="https://electorama.com/img/electodrop.svg" alt="Electorama Logo">
    </a>
  </header>
  <div id="content">

  <h1>{{ formtitle }}</h1>
  {% if abiftool_output is none %}
  <p>"ABIF" stands for "Aggregated Ballot Information Format".  See the <a href="https://electowiki.org/wiki/ABIF">"ABIF" electowiki article</a> for more information about it.</p>
  {% else %}
  <p>Your .abif has been processed.  See <a href="#results">results below</a></p>  <p>"ABIF" stands for "Aggregated Ballot Information Format".  See the <a href="https://electowiki.org/wiki/ABIF">"ABIF" electowiki article</a> for more information about it.</p>
  {% endif %}
  <p>To tally election results expressed using ABIF, enter valid abif below...</p>
  <form action="/#results" method="POST">
    <textarea name="abifinput" rows="{{ rows }}" cols="{{ cols }}" placeholder="{{ placeholder }}"></textarea>
    <input type="submit" value="Submit">
  </form>
  {% if abiftool_output is none %}
  <h2 id="example">{{ lower_abif_caption }}</h2>
  <h3 id="example1">Example 1 &mdash; simple example</h3>
  <p>This example is compatible with many web election tools.</p>
  {% else %}
  <h2 id="results">Results</h2>
  <p>Below is the abiftool output from the abif input at the bottom of this page (in <a href="#input">the "Input" section</a>).</p>
  <h3 id="output">Output</h3>
  <p>{{ abiftool_output | safe}}</p>
  <h3 id="input">{{ lower_abif_caption }}</h3>
  {% endif %}
  <pre>{{ lower_abif_text | safe }}</pre>
  {% if abiftool_output is not none %}
  <p>(<a href="./">clear results</a>)</p>
  {% else %}
  <h3 id="example2">Example 2 &mdash; embedded scores</h3>
  <p>This example is compatible is a more ornate example, which shows
  off how to embed metadata in an ABIF file, as well as scores for the
  competing candidates.</p>
  <pre>{{ lower_abif_text2 | safe }}</pre>
  {% endif %}
  <h2>Also note</h2>
  <p>One may find other examples in both the
  <a href="https://github.com/electorama/abif/tree/main/testfiles">abif repository test files</a> and the
  <a href="https://github.com/electorama/abiftool/tree/main/testdata">abiftool repository test files</a>.</p>
  <p>The web version of abiftool is very restricted compared to the Python application you may download here:</p>
  <ul>
    <li><a href="https://github.com/electorama/abiftool">https://github.com/electorama/abiftool</a></li>
  </ul>
</body>
</html>
