<style>
.greyedOut {
    color: darkgrey;
    background-color: lightgrey;
}
.highlight {
    background-color: #cceff6;
}
</style>
<div>
  <ul>
    {% set winner = IRV_dict['winner'] %}
    {% set numrounds =  IRV_dict['rounds']|length %}
    {% set totalballots = IRV_dict['roundmeta'][0]['ballotcount'] %}
    {% set majority = IRV_dict['roundmeta'][0]['ballotcount'] // 2 + 1 %}
    <li><b>IRV winner</b>: {{winner}}</li>
    <li>Number of rounds: {{numrounds}}</li>
    <li>Total ballots: {{totalballots}}
    <li>Majority of ballots: {{majority}}
  </ul>
  <div class="hscroll">
  <table>
    <tr>
      {% for i in range(IRV_dict['rounds'] | length) %}
      <th>Round {{ i + 1 }}</th>
      {% endfor %}
    </tr>
    <tr>
      {% set flags = namespace(overvote=false) %}
      {% for i in range(IRV_dict['roundmeta'] | length) %}
      <td><b>Overview</b>:<br>
        {% set threshold=IRV_dict['roundmeta'][i]['countedqty'] // 2 + 1 %}
        <small>Active ballots: {{IRV_dict['roundmeta'][i]['countedqty'] }}
          {% if threshold < majority %}
          (minimum plurality: {{threshold}})
          {% endif %}<br>
          Exhausted ballots:
                {{IRV_dict['roundmeta'][i]['exhaustedqty'] }}<br>
          {% if IRV_dict['roundmeta'][i]['overvoteqty'] > 0 %}
          Overvotes:
            {{IRV_dict['roundmeta'][i]['overvoteqty'] }}<br>
          {% set flags.overvote=true %}
          {% endif %}
        </small>
      </td>
      {% endfor %}
    </tr>
    {% for cand in IRV_dict['rounds'][0] | sort(attribute=IRV_dict['rounds'][0].get, reverse=True) %}
    {% if cand == winner %}
    {% set rowclass = "highlight" %}
    {% else %}
    {% set rowclass = "" %}
    {% endif %}
    <tr class="{{rowclass}}">
      <td>{{ cand }}: {{ IRV_dict['rounds'][0].get(cand, ' ') }}</td>
      {% for round_data in IRV_dict['rounds'][1:] %}
      {% if cand == winner and (loop.index + 1) == IRV_dict['rounds']|length %}
      <td><b>IRV winner</b>:<br> {{ cand }}: {{ round_data.get(cand) }}</td>
      {% elif round_data.get(cand) %}
      <td>{{ cand }}: {{ round_data.get(cand) }}</td>
      {% else %}
      <td class="greyedOut"><s>{{ cand }}</s></td>
      {% endif %}
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
  </div>
</div>
