{# Jinja2 template for pairwise/win-loss-tie table (migrated to awt) #}
{% if colordict %}
<style type="text/css">
  .colorblock {
    display: inline-block;
    width: 1em;
    height: 1em;
    border: 1px solid #666;
    vertical-align: middle;
  }
  {% for cand, color in colordict.items() %}
  .color-{{ cand | escape_css }} { background-color: {{ color }}; }
  {% endfor %}
  .pairwise-table {
    border-collapse: collapse;
    margin: 1em 0;
  }
  .pairwise-table th, .pairwise-table td {
    border: 1px solid #ccc;
    padding: 0.5em;
  }
  .pairwise-table th {
    text-align: left;
    vertical-align: top;
  }
  .pairwise-table caption {
    caption-side: top;
    text-align: left;
    font-weight: bold;
    padding: 0.5em;
    background-color: #a04040;
    color: white;
    border: 1px solid #a04040;
  }
  .matchup-cell-inner {
    display: flex;
    flex-direction: column;
  }
  .matchup-row {
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
  }
  .cand-name {
    text-align: left;
    margin-right: 1em;
  }
  .cand-score {
    text-align: right;
    font-weight: bold;
  }
  .pseudo-header {
    background-color: #f2f2f2;
  }
</style>
{% endif %}
<!-- JINJA2-PAIRWISE-TEMPLATE-USED -->
{% if desc %}<p>{{ desc }}</p>{% endif %}
<div>
    <div class="hscroll">
        <table class="pairwise-table">
            <caption>{{ title }} pairwise matchups</caption>
            <tbody>
                {% for ck in candtoks %}
                <tr>
                    <th>
                        <span class="colorblock color-{{ ck | escape_css }}"></span> {{ candnames[ck] }}
                        <br><small>({{ wltstr(ck) }})</small>
                    </th>
                    <td class="pseudo-header" colspan="{{ candtoks|length - loop.index0 - 1 }}"></td>
                    {# Only show victories cell if there are matchups (i.e., not the first row) AND there are wins #}
                    {% if wltdict[ck]['wins'] > 0 %}
                    <td class="pseudo-header" style="text-align: center;">
                        <div><span class="colorblock color-{{ ck | escape_css }}"></span> {{ candnames[ck] }} victories</div>
                        <div style="float: center;">↓</div>
                    </td>
                    {% endif %}
                    {# Pairwise matchup cells for all previous candidates, in reverse order #}
                    {% for rk in candtoks[:loop.index0]|reverse %}
                        {% set rkscore = pairdict[rk][ck] %}
                        {% set ckscore = pairdict[ck][rk] %}
                        <td>
                            <div class="matchup-cell-inner">
                                <div class="matchup-row">
                                    <span class="cand-name"><span class="colorblock color-{{ rk | escape_css }}"></span> {{ candnames[rk] }}:</span>
                                    <span class="cand-score">{{ rkscore }}</span>
                                </div>
                                <div class="matchup-row">
                                    <span class="cand-name"><span class="colorblock color-{{ ck | escape_css }}"></span> {{ candnames[ck] }}:</span>
                                    <span class="cand-score">{{ ckscore }}{% if not (rkscore > ckscore) %}<sup>†</sup>{% endif %}</span>
                                </div>
                            </div>
                        </td>
                    {% endfor %}
                    <td class="pseudo-header">{% if wltdict[ck]['losses'] > 0 %}← <span class="colorblock color-{{ ck | escape_css }}"></span> {{ candnames[ck] }} losses{% else %}<span class="colorblock color-{{ ck | escape_css }}"></span> {{ candnames[ck] }} is undefeated{% endif %}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% if has_ties_or_cycles %}
<div>"Victories" and "losses" sometimes aren't displayed in the expected location when there are ties and/or cycles in the results, but the numbers provided should be accurate.</div>
{% endif %}
{% if svg_text %}
<div class="hscroll">{{ svg_text|safe }}</div>
{% endif %}
