{# Jinja2 template for pairwise/win-loss-tie table (migrated to awt) #}
{% if colordict %}
<style type="text/css">
  .colorblock {
    display: inline-block;
    width: 1em;
    height: 1em;
    border: 1px solid #666;
    vertical-align: middle;
  }
  {% for cand, color in colordict.items() %}
  .color-{{ cand | escape_css }} { background-color: {{ color }}; }
  {% endfor %}
</style>
{% endif %}
<!-- JINJA2-PAIRWISE-TEMPLATE-USED -->
{% if desc %}<p>{{ desc }}</p>{% endif %}
<div>
    <div class="hscroll">
        <table border="1">
            <tbody>
                {% for ck in candtoks %}
                <tr>
                    <th><span class="colorblock color-{{ ck | escape_css }}"></span> {{ candnames[ck] }}{% if ck != candnames[ck] %} ["{{ ck }}"]{% endif %}</th>
                    <td colspan="{{ candtoks|length - loop.index0 - 1 }}" style="padding-right: 3em;">({{ wltstr(ck) }})</td>
                    {# Only show victories cell if there are matchups (i.e., not the first row) AND there are wins #}
                    {% if wltdict[ck]['wins'] > 0 %}
                    <td style="text-align: center;">
                        <div><span class="colorblock color-{{ ck | escape_css }}"></span> {{ candnames[ck] }} victories</div>
                        <div style="float: center;">↓</div>
                    </td>
                    {% endif %}
                    {# Pairwise matchup cells for all previous candidates, in reverse order #}
                    {% for rk in candtoks[:loop.index0]|reverse %}
                        {% set rkscore = pairdict[rk][ck] %}
                        {% set ckscore = pairdict[ck][rk] %}
                        <td style="justify-content: center;">
                            <div style="text-align: right;">
                                <div style="white-space: nowrap;"><span class="colorblock color-{{ rk | escape_css }}"></span> {{ candnames[rk] }}: {{ rkscore }}</div>
                                <div style="white-space: nowrap;"><span class="colorblock color-{{ ck | escape_css }}"></span> {{ candnames[ck] }}: {{ ckscore }}{% if not (rkscore > ckscore) %}<sup>†</sup>{% endif %}</div>
                            </div>
                        </td>
                    {% endfor %}
                    <td>{% if wltdict[ck]['losses'] > 0 %}← <span class="colorblock color-{{ ck | escape_css }}"></span> {{ candnames[ck] }} losses{% else %}<span class="colorblock color-{{ ck | escape_css }}"></span> {{ candnames[ck] }} is undefeated{% endif %}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% if has_ties_or_cycles %}
<div>"Victories" and "losses" sometimes aren't displayed in the expected location when there are ties and/or cycles in the results, but the numbers provided should be accurate.</div>
{% endif %}
{% if svg_text %}
<div class="hscroll">{{ svg_text|safe }}</div>
{% endif %}
